$default-font-family: 'Lato', sans-serif;
$default-font-weight: 400;
$default-font-style: normal;
$default-font-size: 16px;
$default-text-color: #ffffff;

$second-font-family: 'Raleway', sans-serif;

$wrapper-size: 1170px;

$header-height: 100px;