.order {
    padding: 140px 20px;
    background: $order-bg url(../img/order-bg-img.png) no-repeat center top;

    @include max-screen($sm) {
        padding: 50px 20px;
    }

    &__wrapper {
		width: 100%;
		height: auto;
        max-width: $wrapper-size;
        margin: 0 auto;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;

        span {
            color: $second-text-color;
        }

        @include max-screen($sm) {
            font-size: 20px;
        }
    }

    &__note {
        font-size: 18px;
        font-weight: 400;
        color: #bbb;
        padding-top: 30px;
        text-align: center;
    }

    &__scheme {
        padding-top: 60px;
        text-align: center;
        font-size: 0;

        figure {
            display: inline-block;
            text-align: center;
            width: 20%;
            vertical-align: top;
            margin: 0;
            padding: 20px 10px;
            box-sizing: border-box;

            div {
                @include inline-flex;
                @include align-items(center);
                @include justify-content(center);
                width: 100px;
                height: 100px;
                background: #3E9CDC;
                border: 5px solid #286690;
                border-radius: 50%;
                position: relative;

                @include max-screen($sm) {
                    width: 70px;
                    height: 70px;
                }
            }

            figcaption {
                font-size: 16px;
                font-weight: 400;
                margin-top: 20px;
            }

            div:after {
                content: "";
                display: block;
                width: 156px;
                height: 20px;
                position: absolute;
                left: calc(100% + 5px);
                background: url(../img/dot.svg) repeat-x left -4px center;
            }

            @include max-screen($sm) {
                width: 33%;
            }
            @include max-screen($ssm) {
                width: 50%;
            }
            @include max-screen($xs) {
                width: 100%;
            }
        }

        figure:last-child {
            div:after {
                display: none;
            }
        }

        @include interval-screen($ssm, $sm) {
            figure:nth-child(3) {
                div:after {
                    display: none;
                }
            }
        }

        @include interval-screen($xs, $ssm) {
            figure:nth-child(even) {
                div:after {
                    display: none;
                }
            }
        }

        @include max-screen($xs) {
            figure {
                div:after {
                    display: none;
                }
            }
        }

        @include max-screen($sm) {
            padding-top: 20px;
        }

    }

    &__form {
        padding-top: 80px;

        @include max-screen($sm) {
            padding-top: 40px;
        }

        form {
            @include flex;
            @include flex-wrap(wrap);
            @include justify-content(space-between);
        }

        fieldset {
            border: none;
            padding: 15px 0;
            margin: 0;
            width: 31%;

            legend {
                position: relative;
                width: 100%;
                font-size: 18px;

                span {
                    position: absolute;
                    right: 0;
                    font-size: 18px;
                }
            }

            &:nth-child(4) {
                width: 65%;
            }

            @include max-screen($sm) {
                width: 49%;
                
                &:nth-child(6), &:nth-child(8) {
                    display: none;
                }
                &:nth-child(1), &:nth-child(4) {
                    width: 100%;
                }
            }

            @include interval-screen($xxs, $ssm) {
                width: 100%;
            }
        }
    }

    &__select {
        width: 100%;
        height: 48px;
        font-size: 18px;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 0 10px;
        box-sizing: border-box;
        background: $order-el-bg-color url(../img/select-arrow.svg) no-repeat right 21px center;
        cursor: pointer;
        color: $order-el-text-color;
        @include transition(.5s);

        &:hover {
            background: #fff url(../img/select-arrow.svg) no-repeat right 21px center;
        }
    }

    &__input[type=text] {
        width: 100%;
        height: 48px;
        font-size: 18px;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 0 10px;
        box-sizing: border-box;
        background: $order-el-bg-color;
        cursor: pointer;
        color: $order-el-text-color;
        @include transition(.5s);

        &::placeholder {
            color: $order-el-text-color;
        }

        &:hover {
            background: #fff;
        }
    }

    &__input[type=range] {
        width: 100%;
        height: 6px;
        border: 1px solid #fff;
        border-radius: 3px;
        box-sizing: border-box;
        background: $order-range-bg-color;
        margin: 0;

        &::-webkit-slider-thumb {
            @include appearance(none);
            width: 24px;
            height: 24px;
            cursor: pointer;
            background: #42A9ED;
            border: 1px solid #286690;
            border-radius: 50%;
        }
    }

    &__input[type=file] {
        display: none;
    }

    &__label-file-input {
        @include inline-flex;
        @include align-items(center);
        @include justify-content(center);
        width: 100%;
        height: 48px;
        border: 2px solid $second-text-color;
        border-radius: 3px;
        padding: 0 10px;
        box-sizing: border-box;
        background: #fff;
        cursor: pointer;
        @include transition(.5s);

        span {
            display: block;
            height: 19px;
            font-family: $default-font-family;
            font-weight: 600;
            font-size: 15px;
            font-style: $default-font-style;
            color: $order-el-text-color;
            text-transform: uppercase;
            word-break: break-all;
            overflow: hidden;
        }
        &:before {
            content: "";
            background: url(../img/attach-icon.svg) no-repeat center;
            background-size: 100%;
            width: 17px;
            height: 20px;
            display: inline-block;
            margin-right: 10px;
        }
        &:hover {
            background: $order-el-bg-color;
        }
    }

    &__input[type=submit] {
        width: 100%;
        height: 48px;
        font-size: 15px;
        font-weight: 600;
        border: 1px solid #fff;
        border-radius: 3px;
        padding: 0 10px;
        box-sizing: border-box;
        background: $second-text-color;
        cursor: pointer;
        color: #fff;
        text-transform: uppercase;
        @include transition(.5s);

        &:hover {
            background: #fff;
            color: $second-text-color;
        }
    }
}
