$default-font-family: 'Lato', sans-serif;
$default-font-weight: 400;
$default-font-style: normal;
$default-font-size: 16px;
$default-text-color: #ffffff;
$default-text-color-darker: #f1f1f1;

$second-font-family: 'Raleway', sans-serif;
$second-text-color: #3E9CDC;
$second-text-color-darker: #3a95d3;

$third-text-color: #2A2B30;

$wrapper-size: 1170px;

$lg: 1230px;
$sm: 800px;
$ssm: 560px;
$xs: 375px;
$xxs: 320px;

$header-height: 100px;
$header-bg: rgba(16, 16, 29, 0.9);

$order-bg: #272733;
$order-el-text-color: #272733;
$order-el-bg-color: rgba(255, 255, 255, 0.85);
$order-range-bg-color: rgba(255, 255, 255, 0.7);

$footer-bg: #3D4050;