html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #ffffff;
  min-height: 100vh;
}

p {
  margin: 0;
}

input, select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(16, 16, 29, 0.9);
  z-index: 1;
}
.header__wrapper {
  width: 100%;
  height: 100px;
  max-width: 1170px;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (max-width: 1230px) {
  .header__wrapper {
    padding: 0 30px;
    box-sizing: border-box;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
  line-height: 33px;
  text-transform: uppercase;
}
.logo span {
  color: #3E9CDC;
}
@media screen and (max-width: 375px) {
  .logo {
    font-size: 22px;
  }
}

.menu__icon {
  width: 26px;
}
.menu__icon img {
  display: none;
}
@media screen and (max-width: 800px) {
  .menu__icon img {
    display: block;
  }
}
@media screen and (max-width: 800px) {
  .menu__body {
    display: none;
    position: absolute;
    background: rgba(16, 16, 29, 0.9);
    right: 0;
    padding: 10px 22px;
    border-radius: 0 0 3px 3px;
    top: 100px;
  }
}
.menu__item {
  display: inline-block;
  padding: 0 30px;
}
.menu__item a {
  display: flex;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
}
@media (hover: hover) and (pointer: fine) {
  .menu__item a:hover {
    color: #3e9cdc;
    transform: scale(1.1);
  }
}
@media (hover: none) {
  .menu__item a:hover {
    color: #3e9cdc;
  }
}
@media screen and (max-width: 800px) {
  .menu__item {
    display: block;
    padding: 8px 0;
  }
}
.menu__item:last-child {
  padding-right: 0;
}

.banner {
  width: 100%;
}
@media screen and (max-width: 1170px) {
  .banner {
    padding-top: 100px;
  }
}
.banner__img {
  width: 100%;
  font-size: 0;
}
.banner__img img {
  width: 100%;
}
.banner__wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  padding-top: 100px;
  top: 0;
}
.banner__text {
  width: 100%;
  height: auto;
  max-width: 1170px;
  margin: 0 auto;
  font-size: 0;
}
@media screen and (max-width: 1230px) {
  .banner__text {
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.banner__groupP {
  margin-top: 60px;
}
@media (min-width: 560px) and (max-width: 1230px) {
  .banner__groupP {
    margin-top: calc(10px + 50 * (100vw - 560px) / 670);
  }
}
@media screen and (max-width: 560px) {
  .banner__groupP {
    display: none;
  }
}
.banner__p {
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
}
@media (min-width: 320px) and (max-width: 1170px) {
  .banner__p {
    font-size: calc(8px + 12 * (100vw - 320px) / 850);
  }
}
.banner__title {
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
}
.banner__title span {
  color: #3E9CDC;
  font-family: "Lato", sans-serif;
}
@media (min-width: 320px) and (max-width: 1170px) {
  .banner__title {
    font-size: calc(13px + 35 * (100vw - 320px) / 850);
  }
}
.banner__title2 {
  font-weight: 700;
}
.banner__btn {
  display: -webkit-inline-flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 183px;
  height: 43px;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #2A2B30;
  border: 1px solid #2A2B30;
  background: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 60px;
}
@media (min-width: 320px) and (max-width: 1230px) {
  .banner__btn {
    margin-top: calc(10px + 50 * (100vw - 320px) / 910);
  }
}
.banner__btn:hover {
  background: #444;
  color: #ffffff;
  border: 1px solid #ffffff;
  font-weight: 500;
}
@media (min-width: 320px) and (max-width: 1230px) {
  .banner__btn {
    width: calc(120px + 63 * (100vw - 320px) / 910);
    height: calc(28px + 15 * (100vw - 320px) / 910);
    font-size: calc(12px + 1 * (100vw - 320px) / 910);
  }
}
.banner__orderBtn {
  background: #3E9CDC;
  color: #ffffff;
  border: 1px solid #ffffff;
  margin-right: 30px;
}
.banner__orderBtn:hover {
  background: #ffffff;
  color: #3E9CDC;
  border: 1px solid #3E9CDC;
}

.order {
  padding: 140px 20px;
  background: #272733 url(../img/order-bg-img.png) no-repeat center top;
}
@media screen and (max-width: 800px) {
  .order {
    padding: 50px 20px;
  }
}
.order__wrapper {
  width: 100%;
  height: auto;
  max-width: 1170px;
  margin: 0 auto;
}
.order__title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
}
.order__title span {
  color: #3E9CDC;
}
@media screen and (max-width: 800px) {
  .order__title {
    font-size: 20px;
  }
}
.order__note {
  font-size: 18px;
  font-weight: 400;
  color: #bbb;
  padding-top: 30px;
  text-align: center;
}
.order__scheme {
  padding-top: 60px;
  text-align: center;
  font-size: 0;
}
.order__scheme figure {
  display: inline-block;
  text-align: center;
  width: 20%;
  vertical-align: top;
  margin: 0;
  padding: 20px 10px;
  box-sizing: border-box;
}
.order__scheme figure div {
  display: -webkit-inline-flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #3E9CDC;
  border: 5px solid #286690;
  border-radius: 50%;
  position: relative;
}
@media screen and (max-width: 800px) {
  .order__scheme figure div {
    width: 70px;
    height: 70px;
  }
}
.order__scheme figure figcaption {
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.order__scheme figure div:after {
  content: "";
  display: block;
  width: 156px;
  height: 20px;
  position: absolute;
  left: calc(100% + 5px);
  background: url(../img/dot.svg) repeat-x left -4px center;
}
@media screen and (max-width: 800px) {
  .order__scheme figure {
    width: 33%;
  }
}
@media screen and (max-width: 560px) {
  .order__scheme figure {
    width: 50%;
  }
}
@media screen and (max-width: 375px) {
  .order__scheme figure {
    width: 100%;
  }
}
.order__scheme figure:last-child div:after {
  display: none;
}
@media (min-width: 560px) and (max-width: 800px) {
  .order__scheme figure:nth-child(3) div:after {
    display: none;
  }
}
@media (min-width: 375px) and (max-width: 560px) {
  .order__scheme figure:nth-child(even) div:after {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .order__scheme figure div:after {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .order__scheme {
    padding-top: 20px;
  }
}
.order__form {
  padding-top: 80px;
}
@media screen and (max-width: 800px) {
  .order__form {
    padding-top: 40px;
  }
}
.order__form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order__form fieldset {
  border: none;
  padding: 15px 0;
  margin: 0;
  width: 31%;
}
.order__form fieldset legend {
  position: relative;
  width: 100%;
  font-size: 18px;
}
.order__form fieldset legend span {
  position: absolute;
  right: 0;
  font-size: 18px;
}
.order__form fieldset:nth-child(4) {
  width: 65%;
}
@media screen and (max-width: 800px) {
  .order__form fieldset {
    width: 49%;
  }
  .order__form fieldset:nth-child(6), .order__form fieldset:nth-child(8) {
    display: none;
  }
  .order__form fieldset:nth-child(1), .order__form fieldset:nth-child(4) {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 560px) {
  .order__form fieldset {
    width: 100%;
  }
}
.order__select {
  width: 100%;
  height: 48px;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.85) url(../img/select-arrow.svg) no-repeat right 21px center;
  cursor: pointer;
  color: #272733;
  transition: 0.5s;
}
.order__select:hover {
  background: #fff url(../img/select-arrow.svg) no-repeat right 21px center;
}
.order__input[type=text] {
  width: 100%;
  height: 48px;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  color: #272733;
  transition: 0.5s;
}
.order__input[type=text]::placeholder {
  color: #272733;
}
.order__input[type=text]:hover {
  background: #fff;
}
.order__input[type=range] {
  width: 100%;
  height: 6px;
  border: 1px solid #fff;
  border-radius: 3px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.7);
  margin: 0;
}
.order__input[type=range]::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  -webkit-appearance: none;
  cursor: pointer;
  background: #42A9ED;
  border: 1px solid #286690;
  border-radius: 50%;
}
.order__input[type=file] {
  display: none;
}
.order__label-file-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
  cursor: pointer;
  transition: 0.5s;
}
.order__label-file-input span {
  display: block;
  height: 19px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 15px;
  font-style: normal;
  color: #272733;
  text-transform: uppercase;
  word-break: break-all;
  overflow: hidden;
}
.order__label-file-input:before {
  content: "";
  background: url(../img/attach-icon.svg) no-repeat center;
  background-size: 100%;
  width: 17px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}
.order__label-file-input:hover {
  background: rgba(255, 255, 255, 0.85);
}
.order__input[type=submit] {
  width: 100%;
  height: 48px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 0 10px;
  box-sizing: border-box;
  background: #3E9CDC;
  cursor: pointer;
  color: #fff;
  transition: 0.5s;
  text-transform: uppercase;
}
.order__input[type=submit]:hover {
  background: #fff;
  color: #3E9CDC;
}

.footer {
  width: 100%;
  height: auto;
  background: #3D4050;
}
.footer__wrapper {
  width: 100%;
  height: auto;
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1230px) {
  .footer__wrapper {
    justify-content: center;
    flex-direction: column;
  }
}
.footer__block p {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-align: center;
}
.footer__icon a {
  display: inline-flex;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;
}
.footer__icon a:hover {
  color: #3e9cdc;
  transform: scale(1.1);
}
.footer__icon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.footer__center {
  display: flex;
}
@media screen and (max-width: 560px) {
  .footer__center {
    justify-content: center;
    flex-direction: column;
  }
}
.footer__center-qiwi {
  margin-right: 40px;
}
@media screen and (max-width: 560px) {
  .footer__center-qiwi {
    margin: 0;
    padding-bottom: 10px;
  }
}
.footer__center-qiwi:before {
  background: url("../img/qiwi-icon.svg") no-repeat center;
}
.footer__center-ya-money {
  margin-right: 40px;
}
@media screen and (max-width: 560px) {
  .footer__center-ya-money {
    margin: 0;
    padding-bottom: 10px;
  }
}
.footer__center-ya-money:before {
  background: url("../img/ya-money-icon.svg") no-repeat center;
}
.footer__center-web-money:before {
  background: url("../img/web-money-icon.svg") no-repeat center;
}
.footer__right {
  display: flex;
}
@media screen and (max-width: 560px) {
  .footer__right {
    justify-content: center;
    flex-direction: column;
  }
}
.footer__right-mail {
  margin-right: 40px;
}
@media screen and (max-width: 560px) {
  .footer__right-mail {
    margin: 0;
    padding-bottom: 10px;
  }
}
.footer__right-mail:before {
  background: url("../img/mail-blue-icon.svg") no-repeat center;
}
.footer__right-vk:before {
  background: url("../img/vk-icon.svg") no-repeat center;
}
.footer__splitter {
  width: 1px;
}
@media screen and (max-width: 1230px) {
  .footer__splitter {
    transform: rotate(90deg);
    height: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
