.header {
	position: fixed;
    top: 0;
	width: 100%;
	height: $header-height;
	background: $header-bg;
	z-index: 1;

	&__wrapper {
		width: 100%;
		height: $header-height;
		max-width: $wrapper-size;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

		@include max-screen($lg) {
			padding: 0 30px;
			box-sizing: border-box;
		}
	}
}
