.footer {
	width: 100%;
	height: auto;
    background: $footer-bg;

    &__wrapper {
        width: 100%;
		height: auto;
		max-width: $wrapper-size;
		margin: 0 auto;
        padding: 30px 0;

        display: flex;
        align-items: center;
        justify-content: space-between;

        @include max-screen($lg) {
            justify-content: center;
            flex-direction: column;
        }
    }

    &__block {
        p {
            font-family: $default-font-family;
            font-weight: $default-font-weight;
            font-style: $default-font-style;
            font-size: 13px;
            text-align: center;
        }
    }

    &__icon {
        a {
            display: inline-flex;
            font-family: $default-font-family;
            font-weight: $default-font-weight;
            font-style: $default-font-style;
            font-size: 13px;
            text-align: center;
            color: $default-text-color;
            text-decoration: none;
            transition: .5s;

            &:hover {
                color: #3e9cdc;
                transform: scale(1.1);
            }
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 20px;
            margin-right: 10px;
        }
    }

    &__center {
        display: flex;

        @include max-screen($ssm) {
            justify-content: center;
            flex-direction: column;
        }

        &-qiwi {
            margin-right: 40px;

            @include max-screen($ssm) {
                margin: 0;
                padding-bottom: 10px; 
            }

            &:before {
                background: url('../img/qiwi-icon.svg') no-repeat center;
            }
        }
        &-ya-money {
            margin-right: 40px;

            @include max-screen($ssm) {
                margin: 0;
                padding-bottom: 10px; 
            }

            &:before {
                background: url('../img/ya-money-icon.svg') no-repeat center;
            }
        }
        &-web-money {
            &:before {
                background: url('../img/web-money-icon.svg') no-repeat center;
            }
        }
    }

    &__right {
        display: flex;

        @include max-screen($ssm) {
            justify-content: center;
            flex-direction: column;
        }

        &-mail {
            margin-right: 40px;

            @include max-screen($ssm) {
                margin: 0;
                padding-bottom: 10px; 
            }

            &:before {
                background: url('../img/mail-blue-icon.svg') no-repeat center;
            }
        }
        &-vk {
            &:before {
                background: url('../img/vk-icon.svg') no-repeat center;
            }
        }
    }

    &__splitter {
        width: 1px;

        @include max-screen($lg) {
            transform: rotate(90deg);
            height: 40px;
        }
    }
}